<div class="qanda">
  <div class="question">
    <h1>{{select "title" from=@question}}</h1>
    <Vote @upvote={{fn this.vote "up"}} @downvote={{fn this.vote "down"}} @votes={{this.votes}} />
    <div class="body">{{select "body" from=@question}}</div>
  </div>

  <div class="answers">
    <h2>{{this.answers.length}} Answers</h2>
    {{#each this.answers as |answer|}}
      <Answer @model={{answer}} />
    {{/each}}
  </div>

  <button {{on "click" this.generateAnswer}}>Generate Answer</button>
</div>